/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom css */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: center;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

:root {
  --primary: rgb(89, 191, 194);
  --text-dark: rgb(40, 62, 125);
  --text-light: rgb(115, 135, 178);
  --secondary: rgb(61, 158, 161);
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.item-start {
  align-items: flex-end;
}
.item-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.coloumn {
  flex-direction: column;
}

.flex-45 {
  flex: 0 1 45%;
}

.flex-48 {
  flex: 0 1 48%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-20 {
  flex: 0 1 20%;
}

.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.text-light {
  color: var(--text-light);
}
.uppercase {
  text-transform: uppercase;
}
.font-0 {
  font-size: 0;
}

.width-full {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.hero {
  color: white;
}

.brand {
  font-size: 2.7rem;
  font-weight: 700;
  color: white;
}

.header-parent {
  background-color: var(--primary);
}

.nav-item li a {
  margin-left: 2rem;
  color: white;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

h1 ~ button {
  background-color: white;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  margin-bottom: 18rem;
  color: var(--text-dark);
  font-weight: 900;
  font-size: 1.5rem;
}

.hero-info {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.hero-img {
  margin-top: -32rem;
}

.logo {
  color: rgb(192, 203, 225);
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 900;
  margin-left: 1rem;
  margin-bottom: 3rem;
}

hr {
  background-color: rgb(200, 215, 247);
  border: none;
  height: 0.22rem;
}

h4,
h5,
h6 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-dark);
}

h3 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-dark);
}

h3 ~ p {
  color: var(--text-light);
  margin: 1rem 0;
  text-align: left;
}

.graph button {
  background-color: #59bfc2;
  font-size: 1.5rem;
  color: white;
  padding-left: 2rem;
}

.triangle-right-white {
  position: relative;
  left: 1.2rem;
  border-top: 1.6rem solid transparent;
  border-left: 1.2rem solid white;
  border-bottom: 1.6rem solid transparent;
}

.triangle-right {
  border-top: 1.6rem solid transparent;
  border-left: 1.4rem solid #59bfc2;
  border-bottom: 1.6rem solid transparent;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.days {
  border-top-left-radius: 0.5rem;
}

.hour {
  border-top-right-radius: 0.5rem;
}

tr:nth-child(2n + 1) {
  background-color: rgb(213, 229, 229);
}

th {
  font-size: 1.8rem;
  font-weight: 800;
}

th,
td {
  font-weight: 500;
  border-bottom: 2px solid rgb(216, 216, 216);
  padding: 10px 20px;
  color: rgb(123, 126, 132);
}

th {
  background-color: rgb(61, 158, 161);
  color: white;
}

td {
  border-right: 2px solid rgb(216, 216, 216);
  border-left: 2px solid rgb(216, 216, 216);
}

h5 {
  text-align: center;
  margin: 0 auto;
  max-width: 25rem;
  margin-bottom: 2rem;
}

.on-off {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2.5rem;
  border-radius: 10rem;
  background-color: rgb(187, 236, 236);
  margin: 0 2rem;
}

.circle {
  background-color: rgb(89, 191, 194);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  margin-left: 2.9rem;
}

.study {
  margin-bottom: 3rem;
}

.basic {
  border: 4px solid rgb(232, 238, 251);
  border-radius: 1rem;
  padding: 2rem;
  color: rgb(75, 90, 130);
}

h6 {
  margin-bottom: 1rem;
}

h6 ~ p {
  margin-bottom: 1rem;
}

.money {
  color: var(--primary);
  font-size: 3rem;
  margin-left: 0.2rem;
  font-weight: 600;
}

.unorderd-list {
  line-height: 2.5;
  padding-left: 2rem;
  font-size: 1.8rem;
  text-align: left;
}

.fa-check {
  color: var(--primary);
  margin-right: 0.6rem;
}

.fa-times {
  color: red;
  margin-right: 0.66rem;
}

.wrong {
  color: rgb(107, 127, 174);
}

.dollar {
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 600;
}

.basic-info {
  color: var(--text-light);
}

.btn-3 {
  padding: 1rem 0;
  width: 100%;
  font-size: 2rem;
  margin: 1rem 0;
  border-radius: 1rem;
  margin-top: 2rem;
}

.btn-4 {
  border: 4px solid rgb(232, 238, 251);
  color: rgb(70, 88, 144);
}

.get-started {
  background-color: var(--primary);
  color: white;
}

.trial {
  background-color: var(--primary);
  padding: 3rem 0;
  border-radius: 2rem;
  color: white;
}

.para {
  font-size: 3rem;
}

.btn-5 {
  background-color: white;
  color: rgb(47, 66, 129);
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem 6rem;
  border-radius: 1rem;
}

footer {
  text-align: left;
  margin-bottom: 2rem;
}

footer li,
footer p,
footer li a {
  color: rgb(103, 123, 171);
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
}

footer h3 {
  color: #283e7d;
  font-size: 2rem;
}

.icon {
  background: #59bfc2;
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
}

#toggle {
  display: none;
}

.bars {
  display: none;
}
.trial {
  width: 100%;
}

/* Mobile View */

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .flex-column {
    flex-direction: column;
  }

  img {
    width: 100%;
  }

  th,
  td {
    padding: 0.5rem;
  }

  .margin-top {
    margin-top: 2rem;
  }

  .hero-img img {
    margin-top: 5rem;
  }

  .trial {
    padding: 2rem 2rem;
    width: 92%;
  }

  .nav {
    display: none;
  }
  .brand {
    color: rgb(0, 0, 100);
    position: fixed;
    top: 0.8rem;
    z-index: 99;
  }
  .nav li {
    font-weight: 600;
    margin: 0 auto;
    margin-top: 3rem;
    font-size: 2rem;
    z-index: 1;
  }

  .nav-item li a {
    color: rgb(0, 0, 100);
  }

  .nav ul {
    margin-left: 1rem;
  }
  .input {
    display: none;
  }
  .nav {
    display: none;
  }
  #toggle:checked ~ .nav {
    display: inline-block;
    color: rgb(0, 0, 100);
  }
  .bars {
    display: inline-block;
    font-size: 24px;
    color: black;
    position: fixed;
    right: 1rem;
    top: 1.2rem;
    z-index: 3;
  }
  .nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 12rem;
    z-index: 2;
  }
}
